@charset "UTF-8";
footer {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  flex-direction: row; }
  footer div {
    text-align: center; }
    footer div p {
      align-self: flex-start; }
    footer div ol {
      list-style: none; }
      footer div ol li {
        display: inline;
        font-weight: bold; }
        footer div ol li a {
          text-decoration: none; }
          footer div ol li a:hover {
            font-weight: lighter;
            background-color: burlywood; }
    footer div img {
      width: 24px; }

#formul {
  padding: 20px 0px 0px 30px;
  /* margen con valores: arriba - derecha - abajo - izquierda */
  font-family: verdana,arial;
  background: #c5c52720;
  font-size: 9pt;
  margin: auto;
  width: 600px;
  box-sizing: border-box;
  margin-top: 30px; }

.campos {
  font-family: verdana,arial;
  /* tipo de letra */
  width: 500px;
  /* anchura de campos de formulario */
  font-size: 8pt;
  /* tamaño de la letra*/
  color: #072107;
  /* color del texto */
  border: 1px dotted red;
  /* color del borde puede ser solid ó dotted */
  background-color: #c5c527;
  /* color del fondo */
  box-sizing: border-box; }

.boton {
  font-size: 12px;
  font-family: Verdana,Helvetica;
  font-weight: bold;
  color: #0000FF;
  background: #A4C1FF;
  border: 0px;
  width: 180px;
  height: 35px;
  margin-top: 10px; }
  .boton:hover {
    cursor: pointer; }

#b_reset {
  margin: 0px 0px 0px 0px;
  /* margen con valores: arriba - derecha - abajo - izquierda */ }

#b_submit {
  margin: -25px 0px 0px 380px;
  /* margen con valores: arriba - derecha - abajo - izquierda */ }

@media (max-width: 678px) {
  #formul {
    width: 100%; }
    #formul .campos {
      width: 100%; } }

body {
  background-color: linear-gradient 70deg, #5debb9, #8ce4db; }

.shadow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px #11a58c; }

.name {
  font-family: 'Alfa Slab One', cursive; }

.presentacion {
  font-family: 'Domine', serif; }

.noticia {
  font-family: 'Noticia Text', serif; }

.logotipo {
  width: 80px; }

main {
  min-height: 100vh;
  margin-top: 10px; }

.redes {
  display: inline;
  color: #100909; }
